ion-content {
  background: linear-gradient(to bottom, #d4d3dd, #efefbb);
}

h2 {
  color: #843838;
  font-size: 35px;
  font-family: fantasy;
  text-align: center;
  text-shadow: 2px 2px #a38c8c;
}

p {
  text-align: justify;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 10px;
}

a {
  color: #843838;
}

img {
  display: block;
  width: 400px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
}

ion-item {
  background-color: rgba(221, 248, 129, 0.5);
}

ion-label {
  color: black;
  font-size: 10px;
  font-weight: bold;
}

ion-item {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

ion-input {
  color: #843838;
  font-weight: bold;
}

button {
  background-color: #843838;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ion-item.message {
  background-color: transparent;
}

h2.message {
  font-size: 20px;
  text-shadow: 1px 1px #a38c8c;
}

code {
  color: rgba(221, 248, 129, 1);
  font-style: italic;
}
