ion-item {
  background-color: rgba(221, 248, 129, 0.5);
}

ion-label {
  color: black;
  font-size: 10px;
  font-weight: bold;
}

ion-input {
  color: #843838;
  font-weight: bold;
}

button {
  background-color: #843838;
}

ion-item.message {
  background-color: transparent;
}

h2.message {
  font-size: 20px;
  text-shadow: 0px;
}

code {
  color: rgba(221, 248, 129, 1);
  font-style: italic;
}
